/* src/pages/Home.css */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center;
  min-height: 100vh;
  gap: 20px;
  padding: 0 20px;
  margin-top: -85px;
}

/* Logo */
.club-logo {
  width: 430px;
  height: auto;
  margin-bottom: -50px;
}

/* Title */
.club-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: -1px;
}

/* Tagline */
.club-tagline {
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
  margin-bottom: -5px;
}

/* Description */
.club-description {
  max-width: 700px;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}

/* Buttons */
.home-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  width: 160px;
  height: 50px;
  font-size: 16px;
  background: #0c0808;
  border: none;
  border-radius: 50px;
  color: #f0e7e7;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  box-shadow: inset 0 0 0 4px #241317,
              inset 0 0 0 8px #f5fd1c,
              inset 0 0 0 12px #fefffe,
              inset 0 0 0 16px #d4ef0d;
  background: #0f1011;
  color: #f5f0f0f9;
}
